// $theme-colors: (
//     "primary": #181823,
//     "info": #537FE7,
//     "success": #C0EEF2,
//     "secondary": #E9F8F9,
//     "danger": #EE4B2B,
//     "gray": #979799,
//     "black": #333,
//     "orange": #ffbf00,
//     "blue": #0095f6,
//     "border-gray": #ddd
// );

$theme-colors: (
    "primary": #588b8b,
    "info": #f28f3b,
    "success": #ffd5c2,
    "secondary": #fff,
    "light-cyan": #e0fbfc,
    "baby-powder": #fdfffc,
    "danger": #c8553d,
    "gray": #979799,
    "black": #01110A,
    "orange": #ffbf00,
    "blue": #0095f6,
    "green": #248232,
    "dark-blue": #58728B,
    "border-gray": #ddd
);

.font-family-secondary {
    font-family: 'Oswald', sans-serif; // For headlines
}

.txt--gray {
    color: map-get($theme-colors, "gray");
}

.txt--darker-white {
    color: map-get($theme-colors, "baby-powder");
}

.txt--black {
    color: map-get($theme-colors, "black")
}

.txt--orange {
    color: map-get($theme-colors, "orange");
}

.txt--red {
    color: map-get($theme-colors, "danger");
}

.txt--blue {
    color: map-get($theme-colors, "blue");
}

.border-lt {
    border: 1px solid map-get($theme-colors, "border-gray");
}

.border-bottom-lt {
    border-bottom: 1px solid map-get($theme-colors, "border-gray");
}

.border-top-lt {
    border-top: 1px solid map-get($theme-colors, "border-gray");
}

.border-right-lt {
    border-right: 1px solid map-get($theme-colors, "border-gray");
}

.border-left-lt {
    border-left: 1px solid map-get($theme-colors, "border-gray");
}

.border-bottom-primary {
    border-bottom: 1px solid map-get($theme-colors, "primary");
}

body {
    font-family: 'Merriweather', serif !important;
    font-size: 14px !important;
}

body::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

body::-webkit-scrollbar-track {
    // background-color: map-get($theme-colors, 'primary');
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: map-get($theme-colors, 'dark-blue');
    border-radius: 30px;
}

body {
    scrollbar-width: thin;
    scrollbar-color: map-get($theme-colors, 'dark-blue');
}

th {
    font-family: 'Oswald', sans-serif;
}

footer {
    margin-top: 1rem;
    padding: .5rem 1rem;
    background-color: map-get($theme-colors, 'secondary');
    box-shadow: 0px 5px 5px 6px var(--bs-border-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

footer.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
}

#main-navbar {
    box-shadow: 0px 5px 5px -2px var(--bs-border-gray);
    a {
        color: #000;
    }
}

#website-brand-1 {
    display: none;
}

#website-brand-2 {
    display: inline-block;
}

#nav-link__container {
    flex-direction: row;
}

#nav-item__container {
    display: flex;
}

#message-dropdown-menu {
  color: #000;
  padding-left: 1rem;
}

.dropdown-menu[data-bs-popper] {
    left: -5% !important;
}

.dropdown-menu {
    position: absolute !important;
}

.nav-flex-row {
    flex-direction: row !important;
    justify-content: center;
    transform: none !important;
    gap: 1rem;

    a {
        text-align: center !important;
    }
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus-visible {
    outline: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

#popular-products__header {
    margin-top: 112px !important;
}

.no-image {
    width: 100%;
    height: 100%;   
    background-color: rgba(128, 128, 128, 0.683);
}

#homepage-carousel {
    background-color: map-get($theme-colors, 'primary');
    color: #fff;
}

.carousel-item {
    width: 80%;
}

.carousel-image {
    margin: auto;
    width: 100%;
}

.carousel-with-caption {
    display: none;
}

.carousel-indicators {
    bottom: -1rem !important;
}

.carousel-inner-container {
    display: flex;
    padding: 2rem;
    margin: initial;
    gap: 12px;

    .container {
        display: inline;
        p {
            display: inherit;
        }
    }
}

.price-container {
    display: flex;
    flex-direction: column;

    p {
        margin: 0;
        padding: 0;
    }
}

#collapse-item__container > p {
    cursor: pointer;
}

.collapse-item {
    color: map-get($theme-colors, 'gray');
}

.collapse-item--active {
    color: map-get($theme-colors, 'info');
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: map-get($theme-colors, "primary") !important;
}

#homepage-new-products {
    padding: 2rem;
    margin: 2rem;
    background-color: map-get($theme-colors, 'dark-blue');
    box-shadow: 0px 0px 27px 13px var(--bs-gray-200);
}

#add-review {
    background-color: map-get($theme-colors, "primary");
    color: map-get($theme-colors, "secondary");
    padding: .5rem;
    border-radius: 4px;
    border: 1px solid map-get($theme-colors, "border-gray");
    cursor: pointer;
    font-weight: 600;
}

.fa-shopping-cart:before {
    background-color: map-get($theme-colors, 'secondary');
    color: var(--bs-gray-800);
}

.fa-stack[data-count]:after{
  position:absolute;
  right:0%;
  top:0%;
  content: attr(data-count);
  font-size:40%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color:map-get($theme-colors, "black");
  text-align:center;
  min-width:2em;
  font-weight:bold;
  background: white;
  border-style:solid;
}

.loader:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border: 3px dotted #222;
    border-top-color: var(--blue-primary);
    border-right-color: var(--blue-primary);
    animation: loader 0.7s ease-in-out infinite;
  }

#user-list-table {
    i {
        font-size: 20px;
    }

    th {
        padding-left: 12px;
    }

    td {
        vertical-align: middle;
        padding-left: 12px;
    }
}  

.notebook {
    color: map-get($theme-colors, 'black');
    border: 1px solid #EEEEEE;
    box-shadow: 1px 1px 0 #DDDDDD;
    display: inline-block;
    vertical-align: top;
    // font-family: 'Marck Script', cursive;
    font-family: 'Oswald', sans-serif;
    // font-family: '', cursive;
    font-size: 24px;
    line-height: 20px;
    margin: auto;
    padding: 3px 30px 3px 40px;
    resize: none;
    min-height: 200px;
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(top, transparent, transparent 19px, #E7EFF8 0px), -moz-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%), -moz-radial-gradient(3.9% 46%, circle closest-corner, #CCCCCC, #CCCCCC 43.5%, transparent 0%);
    background-image: -webkit-linear-gradient(top, transparent, transparent 19px, #E7EFF8 0), -webkit-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%), -webkit-radial-gradient(3.9% 46%, circle closest-corner, #CCCCCC, #CCCCCC 43.5%, transparent 0%);
    -webkit-background-size: 100% 20px;
    background-size: 100% 20px;

    .message-content {
        display: inline-block;
        // clip-path: polygon(25% 0%, 100% 0, 75% 100%, 0% 100%);
        font-size: 1rem;
        padding: .5rem;
        // background-color: map-get($theme-colors, 'primary');
        color: map-get($theme-colors, 'black');
    }

    .message-date-created {
        font-size: 15px;
        display: flex;
        gap: 1rem;
        margin-bottom: 37px;

        span {
            margin: 0 3px;
        }
    }

    a {
        display: block;
        color: map-get($theme-colors, 'blue');
        text-decoration: none;
        padding-left: 57px;
        font-size: 18px;
    }

    strong {
        font-size: 22px;
        font-style: oblique;
    }
  }
  
  
  @keyframes loader {
    to {
        transform: rotate(360deg);
    }
  }

#register-form > div {
    margin: 1.5rem 0;
}

#login-form > div {
    margin: 1.5rem 0;
}

.login-link__container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;

    a {
        font-size: 1.1rem;
        text-decoration: none;
    }
}

#shipping-form > div {
    margin: 1.5rem 0;
}

#checkout-steps a {
    color: map-get($theme-colors, "black");
    font-size: 1.2rem;
}

#checkout-steps{
    a[disabled] {
        color: map-get($theme-colors, "gray");
    }
} 

#user-list-table {
    font-family: 'Oswald', sans-serif;
}

#admin-list .form-control:focus {
    border-color: #ddd !important;
    box-shadow: none !important;
}

#send-message textarea:focus {
    border-color: #ddd !important;
    box-shadow: none !important;
}

#messages-table__container {
    gap: 3rem;
    margin-top: 3rem;
}

#all-products__filter {
    margin-top: 50px !important;
}

#products-form {
    font-family: 'Oswald', sans-serif;
}

.accordion[data-type="charts-collapse-btn"] {
    width: 80%;
    
    .accordion-item {
        background-color: transparent;
    }

    .accordion-button {
        justify-content: center;
        background-color: transparent;
        padding: 0;
        margin-top: 1rem;
        transform: translateY(28px);
    }

    .accordion-button:not(.collapsed) {
        border: none !important;
      }
}

.accordion-button::after {
    display: none;
}

.accordion-button {
    justify-content: flex-end;
}

.accordion-button:focus {
    border: none !important;
    box-shadow: none !important;
    outline: none;
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    border-bottom: 1px solid map-get($theme-colors, 'border-gray') !important;
    box-shadow: none !important;
    outline: none;
}

#message-component__container {
    transform: translateY(90px);
}

#product-page-top {
    margin-top: 93px;
    padding: .5rem 2rem !important;
}

#product-page-top {
    .fade.undefined.alert.alert-info.show {
        margin: 9px 11px;
        margin-top: 0;
    }
}

#new-product-btn {
    padding: .5rem 1rem !important;
    color: #fff !important;
    font-weight: 600;
}

#message-section {
    max-width: 500px;
    margin: auto;
    padding: 12px 16px;
    background-color: #f2f2f2;
    box-shadow: 17px 28px 15px -8px rgba(0,0,0,0.1);
}

.chart {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    gap: 2rem;
    border: 1px solid map-get($theme-colors , 'border-gray');
    padding: 1.5rem;
    // border-radius: 5px;
    box-shadow: 3px 4px 7px 1px var(--bs-gray-600);
}

#charts {
    display: flex;
    gap: 1rem;
}

#user-list__container {
    padding: 0;
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    box-shadow: -1px 2px 13px 2px rgba(0,0,0,0.67);
    -webkit-box-shadow: -1px 2px 13px 2px rgba(0,0,0,0.67);
    -moz-box-shadow: -1px 2px 13px 2px rgba(0,0,0,0.67);

}

.no-orders-profile {
    justify-content: center;

    .col-md-3 {
        border: 1px solid #ddd;
        margin-top: 1rem;
        width: 50% !important;
    }
}

.product-grid{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 5px 15px 0;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  transition: all 0.5s;
}
.product-grid:hover{ box-shadow: 0 0 15px rgba(0,0,0,0.1); }
.product-grid .product-image{ position: relative; }
.product-grid .product-image .image-container{
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  display: block;
}
.product-grid .product-image img{
  width: 100%;
  height: auto;
}
.product-grid .product-sale-label{
  color: #fff;
  background: map-get($theme-colors, 'blue');
  font-size: 13px;
  text-transform: uppercase;
  padding: 2px 6px;
  border-radius: 3px;
  position: absolute;
  left: -4px;
  top: -2px;
}
.product-grid .price{
  color: #fff;
  background: map-get($theme-colors, 'black');
  font-size: 13px;
  padding: 2px 6px 2px 18px;
  border: 1px solid rgba(0,0,0,0.08);
  border-radius: 1px 3px 3px 1px;
  position: absolute;
  top: 25px;
  left: -15px;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 10% 100%, 0 50%);
}
.product-grid .price span{
  font-weight: 400;
  text-decoration: line-through;
  opacity: 0.5;
}
.product-grid .price:before{
  content: "";
  background: #fff;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 7px;
}

.product-grid .price.fixed{
  background: #b71540;
  top: -4px;
}

.product-grid .product-details{
  color: #fff;
  background: map-get($theme-colors, 'primary');
  font-size: 13px;
  text-transform: uppercase;
  padding: 8px 10px;
  border-radius: 3px;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);
  opacity: 0;
  position: absolute;
  right: 10px;
  bottom: 10px;
  transition: all 0.2s ease-out;
}
.product-grid .product-details:hover{ text-shadow: 0 0 5px #000; }
.product-grid:hover .product-details{ opacity:1; }
.product-grid .product-content{
  background-color: #fff;
  text-align: left;
  padding: 15px 10px;
  border-top: 1px solid transparent;
  border-radius: 0 0 10px 10px;
  transition: all 0.3s;
}
.product-grid:hover .product-content{ border-top-color: #dbdbdb; }
.product-grid .title{
  font-size: 18px;
  font-weight: 600;
}

.product-grid .description {
    color: lighten($color: map-get($theme-colors, 'black'), $amount: 8);
}

.product-grid .title a:hover{ color: darken($color: map-get($theme-colors, 'primary'), $amount: 2) ; }

#all-products-accordion {
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);
}

#product-suggestions {
    display: flex;
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: map-get($theme-colors, 'primary');
    padding: 1.5rem;
    padding-top: 1rem;

    &::-webkit-scrollbar {
        height: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: map-get($theme-colors, 'black');;
        border: 1px solid map-get($theme-colors, 'baby-powder');;
        border-radius: 30px;
    }

    & > div {
        min-width: 300px;
        max-width: 400px;
    }
}

#product-page-description {
    padding: .5rem;
    margin-top: .5rem;
    background-color: map-get($theme-colors, 'primary');
    color: map-get($theme-colors, 'secondary');
}

#proceed-to-checkout {
    & > .card {
        border-radius: 0;
    }
}

#order-summary {
    .card {
        padding: .5rem 0;
    }
}

#order-page {
    margin-top: 85px;

    a {
        color: map-get($theme-colors, 'blue')
    }
}

#user-profile-page {
    margin-top: 78px;
}

#cart-page {
    margin-top: 80px;
    margin-bottom: 32px;
}

@media screen and (max-width: 1080px) {
    .charts__container {
        flex-direction: column;
    }
}

@media screen and (max-width:990px){
    .product-grid{ margin: 5px 15px 30px; }
  }

@media screen and (max-width: 991px) {
    #order-page {
        margin-top: 72px;
    }

    #user-profile-page {
        margin-top: 65px;
    }

    #cart-page {
        margin-top: 60px;
    }

    #messages-table__container {
        flex-direction: column;
    }

    #website-brand-1 {
        display: inline-block;
        color: #ffffff8c;
        margin: 0;
    }

    #website-brand-2 {
        display: none;
    }

    #main-navbar {
        padding: 1rem;
    }

    .navbar-toggler-icon {
        width: 2rem !important;
        height: 2rem !important;
    }

    #nav-link__container {
        flex-direction: column;
    }

    #nav-item__container {
        flex-direction: column;
        transform: translateX(55px);
    }

    #shopping-cart-icon__container {
        width: 100%;
        text-align: center;
    }

    #nav-link {
        text-align: left;
    }

    .dropdown {
        width: 160px !important;
        text-align: left;
    }

    #popular-products__header {
        margin-top: 80px !important;
    }

    #all-products__filter {
        margin-top: 40px !important;
    }

    #message-component__container {
        transform: translateY(55px);
    }

    #product-page-top {
        margin-top: 70px;
        padding: .5rem 1.5rem !important;
    }
}

@media screen and (max-width: 840px) {
    #popular-products__header {
        margin-bottom: 25px !important;
    }

    .carousel-inner-container {
        display: none;
    }

    .carousel-with-caption {
        display: block;
    }

    .carousel-item {
        margin: auto;
    }
}

@media screen and (max-width: 767px) {
    #product-page-top {
        .fade.undefined.alert.alert-info.show {
            width: 97%;
            margin: 9px auto;
            margin-top: 0;
        }

        & > div {
            margin: 0 !important;
            margin-top: 1rem !important;
        }

        #product-page-image {
            padding: 0;
            margin: 0 !important;
        }

        padding: 0.5rem !important;
        padding-left: 1rem !important;
    }

    #product-page-description {
        margin: 1rem;
    }

    #proceed-to-checkout {
        padding: 1rem;
    }

    #cart-item {
      gap: 12px;
    }

    #checkout-page {
        h2 {
            padding-top: 1rem;
        }

        & > .col-md-8 {
            padding-right: 0;
        }

        & > #order-summary {
            padding: 0 .5rem;
            padding-left: 1rem;
        }
    }

    #order-item {
        gap: 12px;

        a {
            color: map-get($theme-colors, 'blue');
        }
      }
}

@media screen and (max-width: 607px) {
    .accordion-body {
        overflow: scroll;
    }

    #charts {
        width: 100%;
        min-width: 440px;
    }

    .no-orders-profile .col-md-3 {
        border: 1px solid #ddd;
        margin-top: 1rem;
        width: 80% !important;
    }

    #product-suggestions > div {
        min-width: 250px;
    }
}

@media screen and (min-width: 576px) {
    #product-detail__container {
        margin: initial
    }
}

@media screen and (max-width: 380px) {
    #product-page-top {
        .fade.undefined.alert.alert-info.show {
            width: 92%;
            margin: 9px auto;
            margin-top: 0;
        }
    }

    .login-link__container {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    #homepage-new-products {
        margin: 2rem 0;
    }

    #image-button-container {
        flex-direction: column;
    } 

    .total-cards__container {
        flex-direction: column;
    }

    #product-suggestions > div {
        min-width: 200px;
    }

    #review-section-top {
        flex-direction: column;
        padding: 1rem !important;
        padding-bottom: 0 !important;

        & h4 {
            width: 100%;
            text-align: left;
        }

        #add-review {
            width: 100%;
            text-align: center;
        }
    }

    #comment-detail {
        flex-direction: column-reverse;
        gap: 8px;
    }
}

@media screen and (max-width: 280px) {
    #nav-item__container {
        transform: translateX(20px)
    }

    #shopping-cart-icon__container {
        text-align: left;
        padding-left: 20px;
    }

    #comment-user-info {
        flex-direction: column;

        & #review-separator {
            display: none;
        }
    }

    .year-svg {
        display: none;
    }
}

@media screen and (max-width: 230px) {
    #website-brand-1 {
        display: none;
    }
}


@import "~bootstrap/scss/bootstrap";