#navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  background-color: #333;
  color: #fff;
  text-align: center;
  max-width: max-content;
  transition: all ease-in-out 400ms;
  position: absolute;
  z-index: 2;
  height: 100%;
}

#collapse-button {
  position: absolute;
  right: -20%;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  top: 50vh;
  cursor: pointer;
  padding: 10px;
}

.uncollapsed-button {
  right: -7% !important;
}

#navbar p {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.navbar-collapsed .navbar-top {
  display: none;
}

.navbar-collapsed .navbar-middle {
  margin-top: 2rem;
}

.navbar-collapsed p {
  display: none !important;
}

.navbar-collapsed .navbar-links__section:active,
.navbar-collapsed .navbar-links__section:hover {
  border: none;
}

.navbar-top {
  padding: 40px 24px;
}

.navbar-links__section {
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  margin-bottom: 8px;
  transition: all ease-in-out 350ms;
  padding: 12px 30px;
  width: 100%;
}

.navbar-links__section:hover,
.navbar-links__section:active {
  color: #0095f6;
  border-right: 3px solid #0095f6;
}

.navbar-middle {
  width: 100%;
}

.navbar-bottom {
  width: 100%;
}

.navbar-bottom > div {
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding: 12px 30px;
  transition: all ease-in-out 350ms;
}

.navbar-bottom > div:hover,
.navbar-bottom > div:active {
  color: #0095f6;
  border-right: 3px solid #0095f6;
}

.admin-page {
  background-color: #fafafa;
  display: grid;
  grid-template-columns: 1fr 7fr;
  min-width: min-content;
  min-height: 100vh;
}

.admin-page-left {
  position: relative;
}

.admin-page-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#admin-cards__container {
  display: flex;
  gap: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ddd;
}

.admin-card {
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 2px;
  background-color: #e9f8f9;
  box-shadow: 6px 24px 15px -21px rgba(0,0,0,0.1);
}

#earnings-card__container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 2rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.pending-orders {
  position: absolute;
  top: -70%;
  right: -70%;
  width: 16px;
  height: 16px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #89be9e;
  font-family: 'Oswald', sans-serif;
}

@media screen and (max-width: 860px) {
  #admin-cards__container {
    flex-direction: column;
    border: none;
  }

  .admin-page-right > h1 {
    align-self: center !important;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .admin-page {
    min-width: none;
    min-height: none;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 3fr;
  }

  .admin-page-right {
    overflow: scroll;
  }
}
